* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #222;
}

html {
  scroll-behavior: smooth;
}
